.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.sidenav {
  width: 12rem;
}

img {
  width: 100%;
  height: 5.5rem;
  margin: 0.8rem auto 1rem auto;
}

.sidenav a,
.menu {
  color: white;
}

.sidenav i {
  margin-right: 0.6rem;
}

.menu {
  position: absolute;
  transform: translateY(-3rem);
  display: flex;
  left: 0.4rem;
}
