<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="assets/img/logo-sistema.jpg" alt="Imagem de navegação" />
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="listar-clientes">
        <i class="material-icons">person</i>
        Clientes
      </a>
      <a mat-list-item routerLink="">
        <i class="material-icons">account_circle</i>
        Fornecedores
      </a>
      <a mat-list-item href="" target="_blank">
        <i class="material-icons">all_inbox</i>
        Produtos
      </a>
      <a mat-list-item href="" target="_blank">
        <i class="material-icons">shopping_cart_checkout</i>
        Vendas
      </a>
      <a mat-list-item href="" target="_blank">
        <i class="material-icons">construction</i>
        Ferramentas
      </a>
      <a mat-list-item href="" target="_blank">
        <i class="material-icons">hdr_auto</i>
        Sobre
      </a>

      <a mat-list-item href="" target="_blank">
        <i class="material-icons">help_center</i>
        Ajuda
      </a>
      <a mat-list-item>
        <i class="material-icons">exit_to_app</i>
        Logout
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header></app-header>
    <button
      class="menu mat-elevation-z8"
      (click)="drawer.toggle()"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
