.header {
  width: 100%;
  height: 3rem;
  margin: auto;
  background-color: rgb(2, 2, 51);
  color: white;
}

h1 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .sidenav {
    width: 10rem;
  }
  .sidenav i {
    margin-right: 0.01rem;
    font-size: 12px;
  }

  img {
    width: 100%;
    height: 5.5rem;
    margin: 0.8rem auto 1rem auto;
  }
}
