/* 320px — 480px: dispositivos móveis. */
@media (max-width: 767px) {
  .container {
    padding-top: 1rem;
    height: 100%;
    align-items: center;
  }

  h1 {
    font-size: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

/*!* dispositivos Grandes *!*/
@media (min-width: 767px) {
  .container {
    padding-top: 1rem;
    height: 100%;
    align-items: center;
  }

  h1 {
    font-size: larger;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
