<div class="container">
  <table class="table-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Nome Completo</mat-label>
          <input
            #campoNome
            [(ngModel)]="cliente.nome"
            matInput
            [formControl]="nomeFormControl"
            mask="capitalize"
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <div
          *ngIf="
            formulario.controls['nome'].invalid &&
            (formulario.controls['nome'].dirty ||
              formulario.controls['nome'].touched)
          "
        ></div>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Cpf</mat-label>
          <input #campoCpf [(ngModel)]="cliente.cpf" matInput mask="cpf" />
          <mat-icon matSuffix>credit_card</mat-icon>
        </mat-form-field>
      </td>


      <td>
        <mat-form-field class="data-finalizar" appearance="fill">
          <mat-label>Data Cadastro</mat-label>
          <input
            [(ngModel)]="cliente.dataCadastro"
            name="dataCadastro"
            matInput
            [matDatepicker]="dp3"
            disabled
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dp3"
          ></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select (selectionChange)="onStatusSelected($event)">
            <mat-option value="Ativo">Ativo</mat-option>
            <mat-option value="Inativo">Inativo</mat-option>
          </mat-select>
          <mat-icon matSuffix>expand_more</mat-icon>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Endereco</mat-label>
          <input
            [(ngModel)]="cliente.endereco"
            name=""
            matInput
            mask="capitalize"
          />
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Numero</mat-label>
          <input
            type="text"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            [(ngModel)]="cliente.numero"
            name=""
            matInput
          />
          <mat-icon matSuffix> home</mat-icon>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Bairro</mat-label>
          <input  [(ngModel)]="cliente.bairro"   name=""  matInput  mask="capitalize" />
          <mat-icon matSuffix>streetview</mat-icon>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Cidade</mat-label>
          <input
            [(ngModel)]="cliente.cidade"
            name=""
            matInput
            mask="capitalize"
          />
          <mat-icon matSuffix> location_city</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Telefone</mat-label>
          <input
            [(ngModel)]="cliente.telefone"
            name=""
            type="tel"
            matInput
            mask="phone"
          />
          <mat-icon matSuffix>settings_phone</mat-icon>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Celuar</mat-label>
          <input
            [(ngModel)]="cliente.celular"
            name=""
            matInput
            mask="cellphone"
          />
          <mat-icon matSuffix>settings_cell</mat-icon>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <div class="buttons buttons-container">
          <button
            class="btn-criar"
            (click)="create(status)"
            mat-stroked-button
            color="primary"
          >
            Salvar
          </button>
          <button
            class="btn-cancelar"
            (click)="cancelar()"
            mat-stroked-button
            color="warn"
          >
            Cancelar
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
