.container {
  width: 100%;
  margin: auto;
}

p {
  text-align: justify;
}
.card {
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 0;
  display: flex;
  margin: auto;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
