<div class="container">
  <mat-card class="card mat-elevation-z8">
    <img
      mat-card-image
      src="assets/img/fundo-home.jpg"
      alt="imagem do Sistema"
    />
    <mat-card-content>
      <p>
        Olá! Seja bem-vindo a Vssystem, o sistema de controle de vendas ideal
        para empresas que desejam otimizar seus processos e aumentar a
        eficiência operacional. Com o Vssystem, é possível gerenciar suas vendas
        de forma integrada e automatizada, desde a criação de orçamentos e o
        controle de estoque. Tudo em uma única plataforma, de forma simples e
        intuitiva. Além disso, a Vssystem oferece diversas funcionalidades para
        auxiliar no processo de venda, como a criação de catálogos emissão de
        relatórios para análise de desempenho. Com uma interface amigável e
        personalizável, a Vssystem se adapta às necessidades específicas do seu
        negócio. E o melhor: você pode acessá-lo de qualquer lugar, a qualquer
        momento, facilitando a gestão de vendas mesmo em situações de trabalho
        remoto. Não perca mais tempo com processos manuais e desorganizados.
        Adote a Vssystem e comece a otimizar suas vendas de forma simples,
        eficiente e moderna.
      </p>
    </mat-card-content>
  </mat-card>
</div>
