.container {
  padding-top: 0.8rem;
  width: 100%;
  margin: auto;
}

p {
  text-align: justify;
}
.card {
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  margin: auto;
  width: 50vw;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
p {
  padding-top: 1rem;
}
