.container {
  width: 90%;
  margin: auto;
}
table {
  width: 100%;
}

table th {
  background-color: rgb(2, 2, 51);
  color: white;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: auto;
}
.pesquisar {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  height: 30px;
  margin-right: 2px;

  padding-bottom: 1.5rem;
}

.botao-novo-cliente {
  display: inline-block;
  width: 30%;
  cursor: pointer;
  height: 56px;
  font-size: 14px;
}
h1 {
  width: 100%;
  text-align: center;
}

.edit {
  color: rgb(251, 215, 75);
  padding-right: 1rem;
}
.delete {
  color: rgb(237, 68, 61);
}

@media only screen and (max-width: 600px) {
  table {
    padding-top: 1rem;
    height: 100%;
    display: block;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
}
