/* 320px — 480px: dispositivos móveis. */
@media (max-width: 767px) {
  .tabela {
    padding-top: 1rem;
    height: 100%;
  }

  .table-responsive {
    display: block;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
}

/*!* dispositivos Grandes *!*/
@media (min-width: 767px) {
  .tabela {
    width: 100%;
    padding-top: 1rem;
    height: 100%;
  }

  .table-responsive {
    display: block;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
}
